AlignAfterOpenBracket: Align
AlignConsecutiveAssignments : true
AlignEscapedNewlines : Right
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine : true
AllowShortFunctionsOnASingleLine : None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine : false
BinPackArguments: true
BinPackParameters: true

#BreakBeforeBraces: Custom
#BraceWrapping:
#  AfterControlStatement: false
#  AfterEnum: true
#  AfterFunction: true
#  AfterStruct: true
#  AfterUnion:true
#  BeforeElse:false
#  SplitEmptyFunction: false
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators : false
ColumnLimit: 80
ContinuationIndentWidth: 8
IncludeBlocks: Merge
IncludeCategories:
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
IndentCaseLabels: false
IndentWidth: 8
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
#MaxEmptyLinesToKeep: 0
PointerAlignment: Right
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 0
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 8
UseTab: Never
  
